spring:
  application:
    name: nunes_sports
  datasource:
    url: jdbc:postgresql://localhost:5432/nunes_sports
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver
    flyway:
      url: jdbc:postgresql://localhost:5432/nunes_sports
      user: postgres
      password: 1234
      baseline-on-migrate: true
  jpa:
    hibernate:
      ddl-auto: update  # ou 'create'/'create-drop', dependendo do que vocï¿½ deseja
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
